@model Простое_расписние.Models.Teacher

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Испытание: CAT Academy</title>
    <link rel="stylesheet" href="~/css/site.css" />

    <body style="background-image:url(Fra.png);">
        <h1>Details</h1>
        <img src="~/css/avatar.jpg" />
        <img class="fff" src="~/css/kot.png" />
        <div>
            <h4>Teacher</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Info)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Info)
                </dd>
            </dl>

        </div>
    </body>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</head>
