@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Испытание: CAT Academy</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body style="background-image:url(Fra.png);">

    <div class="text-center">

        <h1 class="display-4"><b>Welcome</b></h1>


        <img style="background-position-x:100px;" src="~/css/vampir.png " />

        <img style="background-position-x:-100px;" src="~/css/rotdiraviy.png" />

        <h1>
            Наш проект нечто большее чем просто учебная задача. Мы создаем продукт,
            который будет помогать студентам разобраться со всеми вариантами расписания,
            а также даст необходимую информацию про онлайн-курсы и реальных преподавателей
        </h1>
        <a href="https://localhost:7235/Teachers">lf</a>
        <img src="~/css/deva.png" />
    </div>
</body>
</html>